# requirements.txt for server/requirements.txt
fastapi
chainlit
psycopg2-binary
tabulate
duckduckgo-search
beautifulsoup4
# -e .
# -e ./src/xenq_server/components/LightRAG




aiohttp
configparser
future

# Basic modules
gensim

# Additional Packages for export Functionality
pandas>=2.0.0

# Extra libraries are installed when needed using pipmaster

pipmaster
pydantic
python-dotenv

setuptools
tenacity

# LLM packages
tiktoken
xlsxwriter>=3.1.0
